SUBSYSTEM=="usb", ATTR{idVendor}=="cafe", ATTR{product}=="Slam-ChargerManager Boot-Recovery", MODE="0660", TAG+="uaccess"
SUBSYSTEM=="usb", ATTR{idVendor}=="cafe", ATTR{product}=="Slam-ChargerManager USB", MODE="0660", TAG+="uaccess"
